# 1.明确问题

# 2.理解数据

In [2]:
import pandas as pd

In [5]:
#读取数据
fileNameStr='E:\\test\\医院销售数据.xlsx'
salesDf = pd.read_excel(fileNameStr,sheet_name='Sheet1',dtype=str)

In [8]:
salesDf.head()

             购药时间           社保卡号    商品编码     商品名称 销售数量  应收金额   实收金额
0  2018-01-01 星期五      001616528  236701  强力VC银翘片    6  82.8     69
1  2018-01-02 星期六      001616528  236701  清热解毒口服液    1    28  24.64
2  2018-01-06 星期三     0012602828  236701       感康    2  16.8     15
3  2018-01-11 星期一  0010070343428  236701    三九感冒灵    1    28     28
4  2018-01-15 星期五    00101554328  236701    三九感冒灵    8   224    208

In [13]:
#有多少行，多少列
salesDf.shape

(6578, 7)

In [27]:
#查看每列的数据类型
salesDf.dtypes

购药时间    object
社保卡号    object
商品编码    object
商品名称    object
销售数量    object
应收金额    object
实收金额    object
dtype: object

# 3.数据清洗

In [28]:
#1.选择子集
#subSalesDf=salesDf.loc[0:4,'购药时间':'销售数量']
#subSalesDf

In [30]:
#2.列名重命名
 #旧列名和新列名对应关系
colNameDict={'购药时间':'销售时间'} #前者为旧列名，后者为新列名
'''
inplace=False，数据框本身不会变，而会创建一个改动后新的数据框，
默认的inplace是False
inplace=True，数据框本身会改动
'''
salesDf.rename(columns = colNameDict,inplace=True)

In [32]:
salesDf.head()

             销售时间           社保卡号    商品编码     商品名称 销售数量  应收金额   实收金额
0  2018-01-01 星期五      001616528  236701  强力VC银翘片    6  82.8     69
1  2018-01-02 星期六      001616528  236701  清热解毒口服液    1    28  24.64
2  2018-01-06 星期三     0012602828  236701       感康    2  16.8     15
3  2018-01-11 星期一  0010070343428  236701    三九感冒灵    1    28     28
4  2018-01-15 星期五    00101554328  236701    三九感冒灵    8   224    208

#### 3.缺失数据处理

python缺失值有3种：

1）Python内置的None值

2）在pandas中，将缺失值表示为NA，表示不可用not available。

3）对于数值数据，pandas使用浮点值NaN（Not a Number）表示缺失数据。

后面出来数据，如果遇到错误：说什么foloat错误，那就是有缺失值，需要处理掉

所以，缺失值有3种：None，NA，NaN

In [36]:
#3.缺失数据处理
print('缺失前数据大小',salesDf.shape)

缺失前数据类型 (6578, 7)

In [38]:
#删除列（销售时间，社保卡号）中为空的行
#how='any' 在给定的任何一列中有缺失值就删除
salesDf=salesDf.dropna(subset=['销售时间','社保卡号'],how='any')

In [41]:
print('删除缺失后数据大小',salesDf.shape)

删除缺失后数据大小 (6575, 7)

In [42]:
#4.数据类型转换

In [45]:
#字符串转换为数值（浮点型）
salesDf['销售数量'] = salesDf['销售数量'].astype('float')
salesDf['应收金额'] = salesDf['应收金额'].astype('float')
salesDf['实收金额'] = salesDf['实收金额'].astype('float')
print('转换后的数据类型:\n',salesDf.dtypes)

转换后的数据类型:
 销售时间     object
社保卡号     object
商品编码     object
商品名称     object
销售数量    float64
应收金额    float64
实收金额    float64
dtype: object

In [46]:
#字符串转化为日期型

In [48]:
#测试时间字符串分割
testList='2018-06-03 星期五'.split(' ')

In [50]:
testList

['2018-06-03', '星期五']

In [53]:
testList[0]

'2018-06-03'

In [60]:
'''
定义函数：分割销售日期，获取销售日期
输入：timeColSer 销售时间这一列，是个Series数据类型
输出：分割后的时间，返回也是个Series数据类型
'''
def splitSaletime(timeColSer):
    timeList=[]
    for value in timeColSer:
        #例如2018-01-01 星期五，分割后为：2018-01-01
        dateStr=value.split(' ')[0]
        timeList.append(dateStr)
    
    #将列表转行为一维数据Series类型
    timeSer=pd.Series(timeList)
    return timeSer

In [62]:
#获取“销售时间”这一列
timeSer=salesDf.loc[:,'销售时间']
#对字符串进行分割，获取销售日期
dateSer=splitSaletime(timeSer)

In [65]:
dateSer[0:3]

0    2018-01-01
1    2018-01-02
2    2018-01-06
dtype: object

In [68]:
'''
dateSer是有index的，直接复制会根据index值匹配，导致丢失了3个数据。所以，这里使用dateSer.values赋值就不会丢失数据
'''
#修改销售时间这一列的值
salesDf.loc[:,'销售时间']=dateSer.values

In [75]:
salesDf.dtypes

销售时间    datetime64[ns]
社保卡号            object
商品编码            object
商品名称            object
销售数量           float64
应收金额           float64
实收金额           float64
dtype: object

In [70]:
#查看销售时间更改后的最新状态，此时已经无周几显示
salesDf.head()

         销售时间           社保卡号    商品编码     商品名称  销售数量   应收金额    实收金额
0  2018-01-01      001616528  236701  强力VC银翘片   6.0   82.8   69.00
1  2018-01-02      001616528  236701  清热解毒口服液   1.0   28.0   24.64
2  2018-01-06     0012602828  236701       感康   2.0   16.8   15.00
3  2018-01-11  0010070343428  236701    三九感冒灵   1.0   28.0   28.00
4  2018-01-15    00101554328  236701    三九感冒灵   8.0  224.0  208.00

In [72]:
'''
数据类型转换:字符串转换为日期
'''
#errors='coerce' 如果原始数据不符合日期的格式，转换后的值为空值NaT
#format 是你原始数据中日期的格式
salesDf.loc[:,'销售时间']=pd.to_datetime(salesDf.loc[:,'销售时间'],
                                    format='%Y-%m-%d', 
                                    errors='coerce')

In [76]:
salesDf.dtypes

销售时间    datetime64[ns]
社保卡号            object
商品编码            object
商品名称            object
销售数量           float64
应收金额           float64
实收金额           float64
dtype: object

In [78]:
#缺失数据处理
print('缺失前数据大小',salesDf.shape)

缺失前数据大小 (6575, 7)

In [80]:
'''
转换日期过程中不符合日期格式的数值会被转换为空值，
这里删除列（销售时间，社保卡号）中为空的行
'''
salesDf=salesDf.dropna(subset=['销售时间','社保卡号'],how='any')

In [82]:
print('缺失后数据大小',salesDf.shape)

缺失后数据大小 (6552, 7)

In [105]:
#5.对数据进行排序
  #按销售日期进行升序排列
'''
by：按哪几列排序
ascending=True 表示升序排列，
ascending=True表示降序排列
na_position=first表示排序的时候，把空值放到前列，这样可以比较清晰的看到哪些地方有空值
官网文档：https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html
'''
salesDf=salesDf.sort_values(by='销售时间',ascending=True,na_position='first')

In [106]:
salesDf.head()

         销售时间           社保卡号     商品编码            商品名称  销售数量  应收金额  实收金额
0  2018-01-01      001616528   236701         强力VC银翘片   6.0  82.8  69.0
7  2018-01-01    00103283128   870921           卡托普利片   1.0   2.4   2.2
11 2018-01-01  0010015658428   861405   苯磺酸氨氯地平片(络活喜)   2.0  69.0  62.0
10 2018-01-01     0011778628  2367011             开博通   1.0  28.0  25.0
9  2018-01-01  0010017493928   868042  马来酸左旋氨氯地平片(玄宁)   1.0  46.0  46.0

In [107]:
#重命名行名(Index)
salesDf=salesDf.reset_index(drop=True)

In [109]:
salesDf.head()

        销售时间           社保卡号     商品编码            商品名称  销售数量  应收金额  实收金额
0 2018-01-01      001616528   236701         强力VC银翘片   6.0  82.8  69.0
1 2018-01-01    00103283128   870921           卡托普利片   1.0   2.4   2.2
2 2018-01-01  0010015658428   861405   苯磺酸氨氯地平片(络活喜)   2.0  69.0  62.0
3 2018-01-01     0011778628  2367011             开博通   1.0  28.0  25.0
4 2018-01-01  0010017493928   868042  马来酸左旋氨氯地平片(玄宁)   1.0  46.0  46.0

In [110]:
#6.异常值处理

In [113]:
#描述指标：查看出“销售数量”值不能小于0
salesDf.describe()

              销售数量        应收金额         实收金额
count  6552.000000  6552.00000  6552.000000
mean      2.384158    50.43025    46.266972
std       2.374754    87.68075    81.043956
min     -10.000000  -374.00000  -374.000000
25%       1.000000    14.00000    12.320000
50%       2.000000    28.00000    26.500000
75%       2.000000    59.60000    53.000000
max      50.000000  2950.00000  2650.000000

In [123]:
#通过条件判断筛选出异常值
 #查询条件
querySer=salesDf.loc[:,'销售数量']>0

In [125]:
querySer

0       True
1       True
2       True
3       True
4       True
        ...
6547    True
6548    True
6549    True
6550    True
6551    True
Name: 销售数量, Length: 6509, dtype: bool

In [ ]:
#应用查询条件
print('删除异常前',salesDf.shape)

In [120]:
salesDf=salesDf.loc[querySer,:]

In [121]:
#应用查询条件后
print('删除异常后',salesDf.shape)

删除异常后 (6509, 7)

# 4.数据分析/数据建模

业务指标1:月均消费次数=总消费次数 / 月份数

In [143]:
'''
总消费次数：同一天内，同一个人发生的所有消费算作一次消费
#根据列名（销售时间，社区卡号），如果这两个列值同时相同，只保留1条，将重复的数据删除
'''
#1.删除重复数据
kplDf=salesDf.drop_duplicates(subset=['销售时间','社保卡号'])

In [144]:
#2.总共有多少行
total1=kplDf.shape[0]

In [146]:
print('总消费次数=',total1)

总消费次数= 5345

In [150]:
#3.计算月份
kplDf=kplDf.sort_values(by='销售时间',ascending=True)

In [152]:
kplDf=kplDf.reset_index(drop=True)

In [154]:
kplDf

           销售时间           社保卡号     商品编码            商品名称  销售数量   应收金额   实收金额
0    2018-01-01      001616528   236701         强力VC银翘片   6.0   82.8   69.0
1    2018-01-01    00105526028  2367011             开博通   3.0   84.0   75.0
2    2018-01-01  0010072612028  2367011             开博通   1.0   28.0   25.0
3    2018-01-01     0013401428   861405   苯磺酸氨氯地平片(络活喜)   1.0   34.5   31.0
4    2018-01-01    00107891628   868107  厄贝沙坦氢氯噻嗪片(安博诺)   1.0   38.8   35.0
...         ...            ...      ...             ...   ...    ...    ...
5340 2018-07-19  0010059383628  2367011             开博通   2.0   62.0   56.0
5341 2018-07-19  0010065621228   861435       缬沙坦胶囊(代文)   2.0   71.6   64.0
5342 2018-07-19    00104002228   861435       缬沙坦胶囊(代文)   5.0  179.0  171.4
5343 2018-07-19  0010014256528   871158       厄贝沙坦片(吉加)   2.0   34.0   30.0
5344 2018-07-19    00101921828   861464   复方利血平片(复方降压片)   1.0    3.7    3.3

[5345 rows x 7 columns]

In [157]:
#最小时间值
startTime=kplDf.loc[0,'销售时间']
#最大时间值
endTime=kplDf.loc[total1-1,'销售时间']

In [162]:
#天数
day=(endTime-startTime).days
#换算成月份
 #//表示取整除，得到整数那部分
month=day//30
print('总月份',month)

总月份 6

In [170]:
#月均消费次数=总消费次数 / 月份数
kpi1=total1//month
#得到第一次指标
print('业务指标1：月均消费次数=',kpi1)

业务指标1：月均消费次数= 890

#### 业务指标2:月均消费金额=总消费金额/ 月份数

In [176]:
#总的消费金额
moneycustome=salesDf.loc[:,'实收金额'].sum()
#月均消费金额=总消费金额/ 月份数
monthmoney=moneycustome/month
print('业务指标2:月均消费金额:',moneycustome)

业务指标2:月均消费金额: 304034.97000000003

#### 指标3：客单价=总消费金额 / 总消费次数

客单价（per customer transaction）是指商场（超市）每一个顾客平均购买商品的金额，客单价也即是平均交易金额。

In [178]:
counter1=moneycustome/total1

In [179]:
print('指标3：客单价:',counter1)

指标3：客单价: 56.88212722170253